@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fafafa;
  --fg: #222;
  --card: #fff;
  --border: #e5e5e5;
  --np-orange: #E25822;
}

html, body {
  background: var(--bg);
  color: var(--fg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}
